# Shannon entropy

import math
from collections import Counter
import pandas as pd

In [16]:
def shannon(data):
    counts = Counter(data)
    total_count = sum(counts.values())
    entropy = 0.0
    for count in counts.values():
        probability = count/total_count
        entropy-= probability*math.log2(probability)
    return entropy

In [7]:
df = pd.read_csv('/Users/sohan/Desktop/Pattern-Recognition-Lab/data/Titanic-Dataset.csv')

In [8]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [17]:
print("Available columns in Titanic dataset: ")
print(df.columns.tolist())

Available columns in Titanic dataset:
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [19]:
column = input("Enter the column name to calculate entropy: ")
if column in df.columns:
    data = df[column]
    entropy = shannon(data)
    print(f"Shannon entropy of column {column}: {entropy}")
else:
    print(f"{column} not found in dataset. Please try again")

Enter the column name to calculate entropy:  Ticket

Shannon entropy of column Ticket: 9.233001378120738

# Mahalanobis distance

In [13]:
import scipy

In [30]:
import numpy as np
from scipy.spatial.distance import mahalanobis

In [35]:
'''
def distance(polygon1, polygon2):
    poly1 = np.array(polygon1)
    poly2 =np.array(polygon2)

    centroid1 = np.mean(poly1, axis=0)
    centroid2 = np.mean(poly2, axis=0)

    combined = np.vstack((poly1, poly2))
    covariance = np.cov(combined.T)
    try:
        inv_matrix = np.linalg.inv(covariance)
    except np.linalg.LinAlgError:
        raise ValueError("Covariance matrix is singular and cannot be inverted")

    distance = mahalanobis(centroid1, centroid2, covariance)
    return distance
'''

'\ndef distance(polygon1, polygon2):\n    poly1 = np.array(polygon1)\n    poly2 =np.array(polygon2)\n\n    centroid1 = np.mean(poly1, axis=0)\n    centroid2 = np.mean(poly2, axis=0)\n\n    combined = np.vstack((poly1, poly2))\n    covariance = np.cov(combined.T)\n    try:\n        inv_matrix = np.linalg.inv(covariance)\n    except np.linalg.LinAlgError:\n        raise ValueError("Covariance matrix is singular and cannot be inverted")\n\n    distance = mahalanobis(centroid1, centroid2, covariance)\n    return distance\n'

In [36]:
'''
if __name__ == "__main__":
    def poly_input(polygon):
        print(f"Enter the coordinates of polygon {polygon}: ")
        points = input("Coordinates: ").strip().split(",")
        polygon = [tuple(map(float, point.strip().split())) for point in points]
        return polygon

    try:
        polygon1 = poly_input(1)
        polygon2 = poly_input(2)
        distance = distance(polygon1, polygon2)
    except ValueError as e:
        print(e)
    except Exception as e:
        print(f"An error occured: {e}")
'''

'\nif __name__ == "__main__":\n    def poly_input(polygon):\n        print(f"Enter the coordinates of polygon {polygon}: ")\n        points = input("Coordinates: ").strip().split(",")\n        polygon = [tuple(map(float, point.strip().split())) for point in points]\n        return polygon\n\n    try:\n        polygon1 = poly_input(1)\n        polygon2 = poly_input(2)\n        distance = distance(polygon1, polygon2)\n    except ValueError as e:\n        print(e)\n    except Exception as e:\n        print(f"An error occured: {e}")\n'

In [34]:
import numpy as np
from scipy.spatial.distance import mahalanobis

def distance(polygon1, polygon2):
    poly1 = np.array(polygon1)
    poly2 = np.array(polygon2)

    centroid1 = np.mean(poly1, axis=0)
    centroid2 = np.mean(poly2, axis=0)

    combined = np.vstack((poly1, poly2))
    covariance = np.cov(combined.T)
    
    try:
        inv_matrix = np.linalg.inv(covariance)
    except np.linalg.LinAlgError:
        raise ValueError("Covariance matrix is singular and cannot be inverted")

    dist = mahalanobis(centroid1, centroid2, inv_matrix)
    return dist

if __name__ == "__main__":
    def poly_input(polygon):
        print(f"Enter the coordinates of polygon {polygon} (format: x1 y1, x2 y2, ...):")
        points = input("Coordinates: ").strip().split(",")
        polygon = [tuple(map(float, point.strip().split())) for point in points]
        return polygon

    try:
        polygon1 = poly_input(1)
        polygon2 = poly_input(2)
        dist = distance(polygon1, polygon2)
        print(f"Mahalanobis Distance: {dist}")
    except ValueError as e:
        print(e)
    except Exception as e:
        print(f"An error occurred: {e}")

Enter the coordinates of polygon 1 (format: x1 y1, x2 y2, ...):

Coordinates:  1 2, 2 3, 3 5

Enter the coordinates of polygon 2 (format: x1 y1, x2 y2, ...):

Coordinates:  2 3, 3 4, 5 6

Mahalanobis Distance: 1.3548980744951002